<div class="message {{ params.class|default('') }}" onclick="this.classList.add('hidden');">
    {%- if params.escape is defined -%}
        {{ message|raw }}
    {%- else -%}
        {{ message }}
    {%- endif -%}
</div>
